<div class="max-w-custom w-[1340px] mr-auto ml-auto">
    <div class="grid grid-cols-5 gap-[60px] tablet-mobile:grid-cols-1 table-pc:gap-[35px]">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <!-- Logo -->
            <a href="#!" class="flex items-center gap-[14px]">
                <img src="../assets/icons/Icon-logo.svg" alt="Grocerymart">
                <h1 class="font-bold text-base pb-1 text-primary-color dark:text-color-dark">grocerymart</h1>
            </a>
            <p class="mt-8 text-sm">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem
                voluptatibus.
            </p>

            <p class="mt-10 text-sm ">Receive product news and updates.</p>
            <form action="" class="flex gap-[10px] py-4 flex-col">
                <input type="text" class="w-full py-2 px-[12px] rounded-[6px] font-medium text-sm border-2 border-solid border-custom-border" placeholder="Email address" fdprocessedid="9pxkv">
                <button class="flex items-center justify-center gap-[10px] h-[46px] rounded-[6px] px-5 whitespace-nowrap font-medium text-derc text-[#171c28] bg-[#ffb700]" fdprocessedid="ee69f5">SEND</button>
            </form>
        </div>

        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="font-black text-lg uppercase">Shop</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">All Departments</a>
                </li>
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">Fashion Deals</a>
                </li>
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">Electronics Discounts</a>
                </li>
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">Home &amp; Living Specials</a>
                </li>
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">Beauty Bargains</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="font-black text-lg uppercase">Support</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">Store locator</a>
                </li>
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">Order status</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="font-black text-lg uppercase">Company</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">Customer Service</a>
                </li>
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">Terms of Use</a>
                </li>
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">Privacy</a>
                </li>
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">Careers</a>
                </li>
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">About</a>
                </li>
                <li>
                    <a href="#!" class="inline-block py-2 text-sm hover:text-[#0071dc]">Affiliates</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="font-black text-lg uppercase">Contact</h3>
            <ul class="footer__list">
                <li>
                    <p class="mt-5 font-medium">Email</p>
                    <a href="mailto:contact@grocerymart.com" class="inline-block py-2 text-sm hover:text-[#0071dc]"> contact@grocerymart.com </a>
                </li>
                <li>
                    <p class="mt-5 font-medium">Hotline</p>
                    <a href="tel:18008888" class="inline-block py-2 text-sm hover:text-[#0071dc]">18008888</a>
                </li>
                <li>
                    <p class="mt-5 font-medium">Address</p>
                    <p class="py-2 text-sm text-primary-color">
                        No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi
                    </p>
                </li>
                <li>
                    <p class="mt-5 font-medium">Hours</p>
                    <p class="py-2 text-sm text-primary-color">M - F 08:00am - 06:00pm</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex justify-between items-center mt-[50px]  mobile:flex-col">
        <p class="text-primary-color mobile:order-2 mobile:mt-5 mobile:w-[360px]">© 2010 - 2025 Grocery Mart. All rights reserved.</p>

        <div class="flex items-center gap-5">
            <a href="#!" class="flex items-center justify-center w-8 h-8 rounded-[6px] grayscale-[50%] transition-[transform,filter] duration-300 hover:translate-y-[-8px] bg-[#4863a9]">
                <img src="../assets/icons/facebook.svg" alt="" class="w-[14px]  invert sepia-0 saturate-[7482%] hue-rotate-[72deg] brightness-[99%] contrast-[99%]">
            </a>
            <a href="#!" class="flex items-center justify-center w-8 h-8 rounded-[6px] grayscale-[50%] transition-[transform,filter] duration-300 hover:translate-y-[-8px] bg-[#f00]">
                <img src="../assets/icons/youtube.svg" alt="" class="w-[14px]  invert sepia-0 saturate-[7482%] hue-rotate-[72deg] brightness-[99%] contrast-[99%]">
            </a>
            <a href="#!" class="flex items-center justify-center w-8 h-8 rounded-[6px] grayscale-[50%] transition-[transform,filter] duration-300 hover:translate-y-[-8px] bg-[#000]">
                <img src="../assets/icons/tiktok.svg" alt="" class="w-[14px]  invert sepia-0 saturate-[7482%] hue-rotate-[72deg] brightness-[99%] contrast-[99%]">
            </a>
            <a href="#!" class="flex items-center justify-center w-8 h-8 rounded-[6px] grayscale-[50%] transition-[transform,filter] duration-300 hover:translate-y-[-8px] bg-[#4999e6]">
                <img src="../assets/icons/twitter.svg" alt="" class="w-[14px]  invert sepia-0 saturate-[7482%] hue-rotate-[72deg] brightness-[99%] contrast-[99%]">
            </a>
            <a href="#!" class="flex items-center justify-center w-8 h-8 rounded-[6px] grayscale-[50%] transition-[transform,filter] duration-300 hover:translate-y-[-8px] bg-[#2f71ab]">
                <img src="../assets/icons/linkedin.svg" alt="" class="w-[14px]  invert sepia-0 saturate-[7482%] hue-rotate-[72deg] brightness-[99%] contrast-[99%]">
            </a>
        </div>
    </div>
</div>