<div class="max-w-custom w-[1340px] mr-auto ml-auto">
    <div class="flex justify-between items-center pt-7 pb-7">
        <!-- tablet- mobible -->
        <div class="pc:hidden table-pc:hidden">
            <label for="action-nav">
                <div>
                    <img src="../assets/icons/icon-more.svg" alt="">
                </div>
            </label>
            <input type="checkbox" name="action-nav" id="action-nav" class="hidden peer">
            <label for="action-nav"
                class="fixed inset-0 opacity-0 invisible  bg-black bg-opacity-30 transition-all duration-300 ease-in-out peer-checked:visible peer-checked:opacity-100 z-10"></label>
            <div
                class="fixed left-0 right-[50%] inset-y-0 bg-white -translate-x-full transition-transform duration-300 ease-in-out rounded-r-[30px] peer-checked:translate-x-0 z-20">
                <nav>
                    <ul class="flex items-start flex-col p-8 mobile:p-5">
                        <label for="action-nav">
                            <img src="../assets/icons/arrow-left.svg" alt="Arrow left"
                                class="p-2 pr-3 cursor-pointer mobile:pl-0">
                        </label>

                        <!-- Mobile -->
                        <li class="w-full pc:hidden tablet:hidden pl-1">
                            <div class="py-2">
                                <a href="./checkout.html" class="flex items-center justify-between mb-5">
                                    <img src="../assets/icons/Buy.svg" alt="">
                                    <p class="font-medium text-sm text-primary-color">Card</p>
                                    <span class="font-medium text-sm text-primary-color">3</span>
                                </a>
                            </div>
                            <div class="py-1">
                                <a href="./favorite-product.html" class="flex items-center justify-between">
                                    <img src="../assets/icons/Icon-ly.svg" alt="">
                                    <p class="font-medium text-sm text-primary-color">Favorite</p>
                                    <span class="font-medium text-sm text-primary-color">3</span>
                                </a>
                            </div>
                        </li>
                        <li class="w-full">
                            <a href="#!" class="flex items-center justify-between">
                                <p
                                    class="font-medium text-[15px] text-color-primary-2 p-2 min-w-28 dark:text-color-dark">
                                    Departments
                                </p>
                                <img src="../assets/icons/icon-mui-ten.svg" alt=""
                                    class="dark:fill-white rotate-[270deg]">
                            </a>
                        </li>
                        <li class="w-full">
                            <a href="#!" class="flex items-center justify-between w-full">
                                <p
                                    class="font-medium text-[15px] text-color-primary-2 p-2 min-w-28 dark:text-color-dark">
                                    Grocery
                                </p>
                                <img src="../assets/icons/icon-mui-ten.svg" alt=""
                                    class="dark:fill-white rotate-[270deg]">
                            </a>
                        </li>
                        <li class="w-full">
                            <a href="#!" class="flex items-center justify-between gorup">
                                <p
                                    class="font-medium text-[15px] text-color-primary-2 p-2 min-w-28 dark:text-color-dark">
                                    Beauty
                                </p>
                                <img src="../assets/icons/icon-mui-ten.svg" alt=""
                                    class="dark:fill-white rotate-[270deg] group-hover:rotate-[0deg]">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Logo -->
        <div class="">
            <a href="./index-login.html" class="flex items-center gap-[14px]">
                <img src="../assets/icons/Icon-logo.svg" alt="Grocerymart">
                <h1 class="font-bold text-base text-primary-color pb-1 dark:text-color-dark">grocerymart</h1>
            </a>
        </div>
        <!-- navbar -->
        <nav class="tablet-mobile:hidden">
            <ul class="flex items-center">
                <li>
                    <a href="#!">
                        <div
                            class="flex items-center gap-[6px] font-medium text-[15px] text-color-primary-2 p-2 mr-[22px] dark:text-color-dark">
                            Departments
                            <img src="../assets/icons/icon-mui-ten.svg" alt="" class="dark:fill-white">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div
                            class="flex items-center gap-[6px] font-medium text-[15px] text-color-primary-2 p-2 mr-[22px] dark:text-color-dark ">
                            Grocery
                            <img src="../assets/icons/icon-mui-ten.svg" alt="" class="dark:stroke-white">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div
                            class="flex items-center gap-[6px] font-medium text-[15px] text-color-primary-2 p-2 mr-[22px] dark:text-color-dark ">
                            Beauty
                            <img src="../assets/icons/icon-mui-ten.svg" alt="" class="dark:stroke-white">
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- action -->
        <div class="flex items-center gap-5 ">
            <!-- action 1 -->
            <div
                class="w-[50px] h-[50px] rounded-lg bg-white flex items-center justify-center dark:bg-bg-dark mobile:hidden">
                <img src="../assets/icons/Search.svg" alt="">
            </div>
            <!-- action 2 -->
            <div class="w-[226px] h-[50px] rounded-lg bg-white flex px-5 py-[13px] dark:bg-bg-dark mobile:hidden">
                <div class="flex items-center gap-2 border-r-2 border-solid border-gray-300 mr-5 relative group cursor-pointer">
                    <img src="../assets/icons/Icon-ly.svg" alt="">
                    <p class="mr-5">03</p>
                    <div class="relative z-50">
                        <div class="absolute  top-[50px] -right-[200px] bg-white p-6 rounded-2xl shadow-md w-[645px]  mx-auto 
                        opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
                            <!-- Header -->
                            
                            <div class="flex justify-between items-center mb-6">
                                <h2 class="text-lg font-bold">You love 3 item</h2>
                                <a href="./favorite-product.html" class="text-blue-600 font-normal text-base hover:underline">See All</a>
                            </div>
                    
                            <!-- Product list -->
                            <div class="grid grid-cols-3 gap-4 mb-6 mobile:grid-cols-2">
                                <div class="">
                                    <img src="../assets/img/img-card-1.png" alt="Lavazza Coffee Blends" class="w-[175px] h-[172px]  mb-2">
                                    <p class="text-sm text-primary-color">Lavazza Coffee Blends</p>
                                    <p class="font-medium text-sm">$329.00</p>
                                </div>
                                <div class="">
                                    <img src="../assets/img/img-card-2.png" alt="Coffee Beans Espresso" class="w-[175px] h-[172px]  mb-2">
                                    <p class="text-sm text-primary-color">Coffee Beans Espresso</p>
                                    <p class="font-medium text-sm">$39.99</p>
                                </div>
                                <div class="">
                                    <img src="../assets/img/img-card-3.png" alt="Qualità Oro Mountain" class="w-[175px] h-[172px]  mb-2">
                                    <p class="text-sm text-primary-color">Qualità Oro Mountain</p>
                                    <p class="font-medium text-sm">$47.00</p>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <!-- Checkout Button -->
                            <div class="mt-6 flex justify-end">
                                <button
                                    class="w-[270px] mobile:w-full bg-yellow-400 hover:bg-yellow-500 text-black font-medium py-3 rounded-full text-center text-lg">
                                    Check Out All
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center gap-2 cursor-pointer relative group">
                    <div class="flex items-center gap-2">
                        <img src="../assets/icons/Buy.svg" alt="">
                        <span>$65.42</span>
                    </div>
                    <div class="relative z-50">
                        <div class="absolute  top-[50px] -right-[95px] bg-white p-6 rounded-2xl shadow-md w-[645px]  mx-auto 
                        opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
                            <!-- Header -->
                            
                            <div class="flex justify-between items-center mb-6">
                                <h2 class="text-lg font-bold">You have 3 item</h2>
                                <a href="./checkout.html" class="text-blue-600 font-normal text-base hover:underline">See All</a>
                            </div>
                    
                            <!-- Product list -->
                            <div class="grid grid-cols-3 gap-4 mb-6 mobile:grid-cols-2">
                                <div class="">
                                    <img src="../assets/img/img-card-1.png" alt="Lavazza Coffee Blends" class="w-[175px] h-[172px]  mb-2">
                                    <p class="text-sm text-primary-color">Lavazza Coffee Blends</p>
                                    <p class="font-medium text-sm">$329.00</p>
                                </div>
                                <div class="">
                                    <img src="../assets/img/img-card-2.png" alt="Coffee Beans Espresso" class="w-[175px] h-[172px]  mb-2">
                                    <p class="text-sm text-primary-color">Coffee Beans Espresso</p>
                                    <p class="font-medium text-sm">$39.99</p>
                                </div>
                                <div class="">
                                    <img src="../assets/img/img-card-3.png" alt="Qualità Oro Mountain" class="w-[175px] h-[172px]  mb-2">
                                    <p class="text-sm text-primary-color">Qualità Oro Mountain</p>
                                    <p class="font-medium text-sm">$47.00</p>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <!-- Price summary -->
                            <div class="space-y-2 text-sm">
                                <div class="flex justify-between">
                                    <span>Subtotal:</span>
                                    <span>$415.99</span>
                                </div>
                                <div class="flex justify-between">
                                    <span>Texes:</span>
                                    <span>Free</span>
                                </div>
                                <div class="flex justify-between">
                                    <span>Shipping</span>
                                    <span>$10.00</span>
                                </div>
                                <div class="flex justify-between font-bold text-base mt-2">
                                    <span>Total Price</span>
                                    <span>$425.99</span>
                                </div>
                            </div>
                            <!-- Checkout Button -->
                            <div class="mt-6 flex justify-end">
                                <button
                                    class="w-[270px] mobile:w-full bg-yellow-400 hover:bg-yellow-500 text-black font-medium py-3 rounded-full text-center text-lg">
                                    Check Out All
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- avatar -->
            <div class="w-[50px] h-[50px] rounded-lg bg-[#DFD2FA] relative cursor-pointer group ">
                <img class="w-full h-full rounded-lg" src="../assets/img/avatar.jpg" alt="">
                <div class="absolute top-[48px] right-[15px] pt-[28px] w-[300px] z-[99] translate-x-6 invisible opacity-0 transition-all duration-300 group-hover:visible group-hover:opacity-100">
                    <div class="relative p-[30px] rounded-[20px] bg-[#fff]">
                        <img src="../assets/img/arrow-up.png" alt="" class="absolute -top-[17px] h-[20px] right-[15px]">

                        <div class="flex items-center gap-[20px]">
                            <img src="../assets/img/avatar.jpg" alt="" class="w-[60px] h-[60px] rounded-[10px] object-cover">
                            <div>
                                <p class="mb-[8px] text-lg font-semibold">John Smith</p>
                                <p>@johnsmith</p>
                            </div>
                        </div>

                        <ul class="mt-[30px]">
                            <li>
                                <a href="./profile.html" class="flex items-center justify-between gap-[15px] py-[14px]">Profile</a>
                            </li>
                            <li>
                                <a href="./favorite-product.html" class="flex items-center justify-between gap-[15px] py-[14px]">Favourite list</a>
                            </li>
                            <li class="mt-[10px] pt-[10px] border-t">
                                <a href="#!" class="flex items-center justify-between gap-[15px] py-[14px]" id="switch-theme-btn">
                                    <span>Dark mode</span>
                                    <img src="../assets/icons/sun.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="flex items-center justify-between gap-[15px] py-[14px]">Settings</a>
                            </li>
                            <li class="mt-[10px] pt-[10px] border-t">
                                <a href="./sing-in.html" class="flex items-center justify-between gap-[15px] py-[14px]">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>