<div class="max-w-custom w-[1340px] mr-auto ml-auto">
    <div class="flex justify-between items-center pt-7 pb-7">
        <!-- tablet- mobible -->
        <div class="pc:hidden table-pc:hidden">
            <label for="action-nav">
                <div>
                    <img src="../assets/icons/icon-more.svg" alt="">
                </div>
            </label>
            <input type="checkbox" name="action-nav" id="action-nav" class="hidden peer">
            <label for="action-nav"
                class="fixed inset-0 opacity-0 invisible  bg-black bg-opacity-30 transition-all duration-300 ease-in-out peer-checked:visible peer-checked:opacity-100 z-10"></label>
            <div
                class="fixed left-0 right-[50%] inset-y-0 bg-white -translate-x-full transition-transform duration-300 ease-in-out rounded-r-[30px] peer-checked:translate-x-0 z-20">
                <nav>
                    <ul class="flex items-start flex-col p-8 mobile:p-5">
                        <label for="action-nav">
                            <img src="../assets/icons/arrow-left.svg" alt="Arrow left"
                                class="p-2 pr-3 cursor-pointer mobile:pl-0">
                        </label>

                        <!-- Mobile -->
                        <li class="w-full pc:hidden tablet:hidden pl-1">
                            <div class="py-2">
                                <a href="#!" class="flex items-center justify-between mb-5">
                                    <img src="../assets/icons/Buy.svg" alt="">
                                    <p class="font-medium text-sm text-primary-color">Card</p>
                                    <span class="font-medium text-sm text-primary-color">3</span>
                                </a>
                            </div>
                            <div class="py-1">
                                <a href="#!" class="flex items-center justify-between">
                                    <img src="../assets/icons/Icon-ly.svg" alt="">
                                    <p class="font-medium text-sm text-primary-color">Favorite</p>
                                    <span class="font-medium text-sm text-primary-color">3</span>
                                </a>
                            </div>
                        </li>
                        <li class="w-full">
                            <a href="#!" class="flex items-center justify-between">
                                <p
                                    class="font-medium text-[15px] text-color-primary-2 p-2 min-w-28 dark:text-color-dark">
                                    Departments
                                </p>
                                <img src="../assets/icons/icon-mui-ten.svg" alt=""
                                    class="dark:fill-white rotate-[270deg]">
                            </a>
                        </li>
                        <li class="w-full">
                            <a href="#!" class="flex items-center justify-between w-full">
                                <p
                                    class="font-medium text-[15px] text-color-primary-2 p-2 min-w-28 dark:text-color-dark">
                                    Grocery
                                </p>
                                <img src="../assets/icons/icon-mui-ten.svg" alt=""
                                    class="dark:fill-white rotate-[270deg]">
                            </a>
                        </li>
                        <li class="w-full">
                            <a href="#!" class="flex items-center justify-between">
                                <p
                                    class="font-medium text-[15px] text-color-primary-2 p-2 min-w-28 dark:text-color-dark">
                                    Beauty
                                </p>
                                <img src="../assets/icons/icon-mui-ten.svg" alt=""
                                    class="dark:fill-white rotate-[270deg]">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Logo -->
        <div class="">
            <a href="./index-login.html" class="flex items-center gap-[14px]">
                <img src="./assets/icons/Icon-logo.svg" alt="Grocerymart">
                <h1 class="font-bold text-base text-primary-color pb-1 dark:text-color-dark">grocerymart</h1>
            </a>
        </div>
        <!-- navbar -->
        <nav class="tablet-mobile:hidden">
            <ul class="flex items-center">
                <li>
                    <a href="#!">
                        <div
                            class="flex items-center gap-[6px] font-medium text-[15px] text-color-primary-2 p-2 mr-[22px] dark:text-color-dark">
                            Departments
                            <img src="../assets/icons/icon-mui-ten.svg" alt="" class="dark:fill-white">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div
                            class="flex items-center gap-[6px] font-medium text-[15px] text-color-primary-2 p-2 mr-[22px] dark:text-color-dark ">
                            Grocery
                            <img src="../assets/icons/icon-mui-ten.svg" alt="" class="dark:stroke-white">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div
                            class="flex items-center gap-[6px] font-medium text-[15px] text-color-primary-2 p-2 mr-[22px] dark:text-color-dark ">
                            Beauty
                            <img src="../assets/icons/icon-mui-ten.svg" alt="" class="dark:stroke-white">
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- action -->
        <div class="flex items-center gap-5 ">
            <!-- action 1 -->
            <a href="#!" class="flex items-center justify-center gap-[10px] h-[46px] px-5 rounded-md text-derc whitespace-nowrap bg-backgroud-3 font-medium mobile:hidden">Sing In</a>
            <a href="./sing-up.html" class="flex items-center justify-center gap-[10px] h-[46px] px-5 rounded-md text-derc whitespace-nowrap bg-[#ffb700] font-medium ml-5 text-primary-color mobile:ml-0">Sing Up</a>
        </div>
    </div>
</div>